.contain{

  width: 80%;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card{
  position:relative;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  left:0;
  top:0;
  background-color:transparent;
}
.card div{
  background-color:transparent;
  display:flex;
}
.card p{
  text-align:justify;
  color:#555;
  font-weight:800;
  width:100%;
  margin:20px;
  background-color:transparent;
}
.card div> span{
    color:#555;
    background-color:transparent;
    font-weight:650;
    margin:0 3px;
  }
.card .img-container{
  position:relative;
  width:100%;
  min-width:200px;
  min-height:150px;
  height:auto;
  background-image:linear-gradient(142deg,  rgba(250,250,250,.2) 34%, rgba(250,250,250, .1) 75%)
  ,url('./img1.png');
  background-color:transparent;
  background-size:80% 100%;
  background-position:50%;
  background-repeat:no-repeat;
}
.card div p:first-letter{
  font-size:150%;
  color:tomato;
}

.card .img-container.lf{
  width:100%;
  left:auto;
  right:0;
  justify-content:flex-end;
  background-color:transparent;
  background-position:5% 50%;
  background-repeat:no-repeat;
  background-size:45% 80%;
}
.card .img-container.lf>p{
  width:50%;
}


.card .img-container.rg{
  width:100%;
  background-color:transparent;
  left:auto;
  right:0;
  background-position:95% 50%;
  background-repeat:no-repeat;
  background-size:40% 80%;

}
.card .img-container.rg>p{
  width:50%;
}

@media screen and (max-width:768px){
.card .img-container.lf{
  height:30vh;
  background-position:50% 5% ;
  background-repeat:no-repeat;
  background-size:95% 50%;
}
.card .img-container.lf>p{
  position:relative;
  top:50%;
  width:100%;
}

}
@media screen and (max-width:650px){
  .contain{
  position:relative;
  left:0%;
  top: 0%;
  transform: translate(0%, 0%);
  width:100%;
}
.card .img-container.lf{
  background-color:transparent;
  height:auto;
  background-size:100% 25%;
}
.card .img-container.lf>p{
  margin-top:80%;
  top:auto;
  position:relative;
  background-color:transparent;
  }
}






